body{
    background-color: rgb(8, 37, 37);
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat&display=swap")

  font-family: "Montserrat", sans-serif;
  font-size: 16px;

}
.container{
    background-color: lightgreen;
 
  background-image: url(../images/background.jpg);

h1, h2, h3 {
  font-family: "Hammersmith One", sans-serif;
}
.container {
  background-color: rgba(179, 200, 218, 0.65);
}

img {
  border-radius: 15px;
}
.projects__project {
  border: 2px solid rgb(241, 233, 233);
  border-radius: 15px;
}
ul{
    list-style: none;
}
header{
    background-color: lightsalmon;
} 